<h2><%= @musician_info.name %> Information</h2>
<ol>
  <li>The name of this musician is <%= @musician_info.name  %></li> 
  <li>This musician plays <%=@musician_info.instruments %></li>
  <li>They have <%= @musician_info.songs%> listed songs </li>
  <li>The musician is currently on call with an orchestra = <%=@musician_info.on_call %></li>
</ol>
