<h2><%= @orch_info.name %> Information</h2>
<ol>
  <li>The orchestra is currently rehearsing = <%= @orch_info.active   %></li> 
  <li>Number of Chairs in the Orchestra =  <%=@orch_info.chairs %></li>
  <li>The current conductor is <%= @orch_info.conductor%></li>
  <li>The orchestra has a venue to preform at = <%=@orch_info.venue %></li>
</ol>


